.content{
    width: 680px;
    height: 400px;
    border: 1px solid #FFF9F1;
    padding: 0 20px 20px 20px;; 
    background:  #E3C495;
    margin-left:2%;
    font-size: 20px;
    border-radius: 15px;
    font-family: 'Montserrat', sans-serif;
    color: #642F0A;
    display: inline-block;
    scale: 0.86;
}
.photo{
    display: flexbox;
    flex-direction: row;
    justify-content: space-between;
    position: left;
    height: 500px;
    right: 40%;
    bottom: 15%; 
    margin-left: 4%; 
    margin-top:4%;
 }
 .image{
    height: 450px;
 }
    
