
body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background: #FFF9F1;

}
.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #D68A44;
    color: #FFF9F1;

}
.login-button{
    border-width: 2px;
    border-radius: 10px;
    border: 1px solid #EEEEEE;
    width: 85px;
    height: 35px;
    background-color: transparent;
    text-align: center;
    margin-right: 30px;
    margin-top: 10px;
    color: white;
}
h2{
    padding-left: 30px;
}